lib/common/flutter_chat_type/flutter_chat_types.dart
lib/common/flutter_chat_type/src/message.dart
lib/common/flutter_chat_type/src/preview_data.dart
lib/common/flutter_chat_type/src/preview_data.g.dart
lib/common/flutter_chat_type/src/room.dart
lib/common/flutter_chat_type/src/room.g.dart
lib/common/flutter_chat_type/src/staff.dart
lib/common/flutter_chat_type/src/user.dart
lib/common/flutter_chat_type/src/user.g.dart
lib/common/flutter_chat_type/src/messages/audio_message.dart
lib/common/flutter_chat_type/src/messages/audio_message.g.dart
lib/common/flutter_chat_type/src/messages/custom_message.dart
lib/common/flutter_chat_type/src/messages/custom_message.g.dart
lib/common/flutter_chat_type/src/messages/file_message.dart
lib/common/flutter_chat_type/src/messages/file_message.g.dart
lib/common/flutter_chat_type/src/messages/image_message.dart
lib/common/flutter_chat_type/src/messages/image_message.g.dart
lib/common/flutter_chat_type/src/messages/partial_audio.dart
lib/common/flutter_chat_type/src/messages/partial_audio.g.dart
lib/common/flutter_chat_type/src/messages/partial_custom.dart
lib/common/flutter_chat_type/src/messages/partial_custom.g.dart
lib/common/flutter_chat_type/src/messages/partial_file.dart
lib/common/flutter_chat_type/src/messages/partial_file.g.dart
lib/common/flutter_chat_type/src/messages/partial_image.dart
lib/common/flutter_chat_type/src/messages/partial_image.g.dart
lib/common/flutter_chat_type/src/messages/partial_text.dart
lib/common/flutter_chat_type/src/messages/partial_text.g.dart
lib/common/flutter_chat_type/src/messages/partial_video.dart
lib/common/flutter_chat_type/src/messages/partial_video.g.dart
lib/common/flutter_chat_type/src/messages/system_message.dart
lib/common/flutter_chat_type/src/messages/system_message.g.dart
lib/common/flutter_chat_type/src/messages/text_message.dart
lib/common/flutter_chat_type/src/messages/text_message.g.dart
lib/common/flutter_chat_type/src/messages/unsupported_message.dart
lib/common/flutter_chat_type/src/messages/unsupported_message.g.dart
lib/common/flutter_chat_type/src/messages/video_message.dart
lib/common/flutter_chat_type/src/messages/video_message.g.dart
